.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4b5ae3;
  font-weight: bold;
}

.container {
  width: 350px;
  margin: 0 auto;
}
